#edit-moderation-state-0 .form-element--type-select {
  width: 8rem;
}

#edit-moderation-state-0 .form-item--moderation-state-0-current {
  display: none;
}

#edit-moderation-state-0 .form-item--moderation-state-0-state label {
  display: none;
}
